/* TAB BAR */
.acpMemberView_tabBar {
	background: #3A5673;
	padding: 15px 15px 0 15px;
	text-align: center;
}

	.acpMemberView_tabBar ul[role="tablist"] > li {
		display: inline-block;
		margin-bottom: -5px;
	}

	.acpMemberView_tabBar .ipsTabs_item {
		line-height: 44px;
		font-size: 15px;
		border-top: 0;
		min-width: 200px;
		background: #fafafa;
	}

		.acpMemberView_tabBar .ipsTabs_item:not(.ipsTabs_activeItem) {
			color: rgba(255,255,255,0.6);
			background: rgba(255,255,255,0.1);
		}

.acpMemberView_tabBarPanel {
	background: transparent;
}

/* SMALL TABS */
.acpMemberView_layoutMain .ipsTabs.ipsTabs_small .ipsTabs_item {
	border-top: 0;
}

/* LAYOUT CLASSES */
.acpMemberView_layoutWrap {
	display: grid;
	grid-template-columns: [main] auto [history] 350px [end];
}

.acpMemberView_layoutMain {
	grid-column-start: main;
	grid-column-end: history;
}

.acpMemberView_layoutHistory {
	grid-column-start: history;
	grid-column-end: end;
}

/* LEFT COLUMN */
.acpMemberView_coverPhoto {
	position: relative;
	height: 90px;
	background: #f0f0f0;
}

	.acpMemberView_coverPhoto .acpMemberView_editButton {
		position: absolute;
		top: 10px;
		right: 10px;
	}

.acpMemberView_groups img {
	max-width: 100%;
}

.acpMemberView_photo {
	position: relative;
	text-align: center;
	margin-top: -45px;
}

	.acpMemberView_photo .acpMemberView_editButton {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: 20px;
	}

.acpMemberView_username {
	font-size: 30px;
}

.acpMemberView_username,
.acpMemberView_email {
	display: flex;
	flex-direction: row;
}

	.acpMemberView_username > span:last-child,
	.acpMemberView_email > span:last-child {
		margin-left: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.acpMemberView_username > span:first-child,
	.acpMemberView_email > span:first-child {
		flex-grow: 1;
	}


.acpMemberView_map {
	background: #EEE5C9;
	opacity: 0.3;
	height: 100px;
}

.acpMemberView_integrations_text.ipsType_normal {
	line-height: 1.3;
}

.acpMemberView_integrations_icon {
	font-size: 28px;
	line-height: 34px;
}

/* MAIN COLUMN */
.acpMemberView_statsBar {
	height: 38px;
	background: #ddd;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
}

	.acpMemberView_statsBar_segment,
	.acpMemberView_statsBar_subsegment {
		height: 38px;
	}

	.acpMemberView_statsBar_subsegment {
		background: rgba(0,0,0,0.2);
	}
		
	.acpMemberView_statsBar_segment:nth-child(10n-9),
	.acpMemberView_statsBar_legend:nth-child(10n-9) > .acpMemberView_statsBar_preview {
		background: #10967e;
	}
	.acpMemberView_statsBar_segment:nth-child(10n-8),
	.acpMemberView_statsBar_legend:nth-child(10n-8) > .acpMemberView_statsBar_preview {
		background: #ea7963;
	}
	.acpMemberView_statsBar_segment:nth-child(10n-7),
	.acpMemberView_statsBar_legend:nth-child(10n-7) > .acpMemberView_statsBar_preview {
		background: #de6470;
	}
	.acpMemberView_statsBar_segment:nth-child(10n-6),
	.acpMemberView_statsBar_legend:nth-child(10n-6) > .acpMemberView_statsBar_preview {
		background: #6b9dde;
	}
	.acpMemberView_statsBar_segment:nth-child(10n-5),
	.acpMemberView_statsBar_legend:nth-child(10n-5) > .acpMemberView_statsBar_preview {
		background: #b09be4;
	}
	.acpMemberView_statsBar_segment:nth-child(10n-4),
	.acpMemberView_statsBar_legend:nth-child(10n-4) > .acpMemberView_statsBar_preview {
		background: #eec766;
	}
	.acpMemberView_statsBar_segment:nth-child(10n-3),
	.acpMemberView_statsBar_legend:nth-child(10n-3) > .acpMemberView_statsBar_preview {
		background: #9fc973;
	}
	.acpMemberView_statsBar_segment:nth-child(10n-2),
	.acpMemberView_statsBar_legend:nth-child(10n-2) > .acpMemberView_statsBar_preview {
		background: #e291bf;
	}
	.acpMemberView_statsBar_segment:nth-child(10n-1),
	.acpMemberView_statsBar_legend:nth-child(10n-1) > .acpMemberView_statsBar_preview {
		background: #55c1a6;
	}
	.acpMemberView_statsBar_segment:nth-child(10n),
	.acpMemberView_statsBar_legend:nth-child(10n) > .acpMemberView_statsBar_preview {
		background: #5fb9da;
	}

	.acpMemberView_statsBar_preview {
		display: inline-block;
		vertical-align: middle;
		width: 14px;
		height: 14px;
		margin-right: 3px;
		margin-top: -1px;
	}

.acpMemberView_countStat {
	padding: 10px 45px 10px 10px;
	border-radius: 4px;
	display: block;
	position: relative;
	background: #2F3D49;
}

	.acpMemberView_countStat .ipsType_minorHeading {
		color: #fff;
		opacity: 0.6;
	}

	.acpMemberView_countStatStat {
		color: #fff;
	}

	/* Only show dropdown if it's a link */
	a.acpMemberView_countStat:before {
		content: '';
		position: absolute;
		right: 40px;
		top: 10px;
		bottom: 10px;
		border-left: 1px solid rgba(255,255,255,0.2);
	}

	a.acpMemberView_countStat:after {
		content: '\f0d7';
		font-family: 'FontAwesome';
		color: #fff;
		position: absolute;
		right: 18px;
		top: 22px;
	}

.acpMemberView_progress {
	width: 100%;
	height: 14px;
}
	.acpMemberView_progress.ipsAttachment_progress > span {
		height: 12px;
	}

.acpMemberView_quotaNumber {
	font-size: 18px;
}

.acpMemberView_percentage {
	font-size: 22px;
	margin-top: 14px;
}

/* MISC */
.acpMemberView_editButton {
	background: #e5e5e5;
	padding: 1px 5px 2px;
	border-radius: 2px;
	color: #333 !important;
	font-size: 14px;
	height: 21px;
	line-height: 17px;
	text-align: center;
}

	.acpMemberView_editButton:active,
	.acpMemberView_editButton_active {
		background: #333;
		color: #fff !important;
	}
	
	.acpMemberView_editButton:hover {
		color: #fff;
	}

	.acpMemberView_editButton .fa {
		font-size: 11px;
		margin-top: -1px;
	}

	.acpMemberView_editButton .fa-caret-down {
		margin-left: 4px;
	}

/* WARNINGS */
.acpMemberView_message {
	border-radius: 5px;
}

.acpMemberView_message a.ipsButton {
	margin-top: 0;
}

html[dir="ltr"] .acpMemberView_message {
	padding: 20px 20px 20px 85px;
}
html[dir="rtl"] .acpMemberView_message {
	padding: 20px 85px 20px 20px;
}

.acpMemberView_message:before {
	font-size: 47px;
	top: 32px;
}

html[dir="ltr"] .acpMemberView_message:before {
	left: 25px;
}
	
/* HISTORY PANEL */
#elMemberHistory {
	color: #ADB7BF;
	background: #2E3D49;
	height: 100%;
}

	#elMemberHistory a {
		color: #f5f5f5;
	}

	#elMemberHistory .ipsType_normal {
		font-size: 13px;
		line-height: 18px;
	}

	#elMemberHistory .ipsType_light,
	#elMemberHistory .ipsType_light a {
		color: rgba(255,255,255,0.3);
	}
	
	#elMemberHistory .ipsType_sectionTitle {
		background: #27333D;
		padding: 10px 15px;
		color: #fff;
		font-weight: 300;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
		box-shadow: none;
	}


html[dir="ltr"] .cMemberHistory {
	border-left: 5px solid #2E3D49;
	margin-left: 10px;
}
html[dir="rtl"] .cMemberHistory {
	border-right: 5px solid #2E3D49;
	margin-right: 10px;
}
	
	html[dir="ltr"] #elMemberHistory .cMemberHistory {
		border-left-color: #4c5861;
	}
	html[dir="rtl"] #elMemberHistory .cMemberHistory {
		border-right-color: #4c5861;
	}

html[dir="ltr"] .cMemberHistory li {
	margin: 0 0 20px -24px;
}
html[dir="rtl"] .cMemberHistory li {
	margin: 0 -24px 20px 0;
}

.cMemberHistory_date {
	background: #2E3D49;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	margin-bottom: 10px !important;
}
html[dir="ltr"] .cMemberHistory_date {
	padding: 10px 15px 10px 7px;
	margin-left: 0px !important;
	border-radius: 0 20px 20px 0;
}
html[dir="rtl"] .cMemberHistory_date {
	padding: 10px 7px 10px 15px;
	margin-right: 0px !important;
	border-radius: 20px 0 0 20px;
}

	#elMemberHistory .cMemberHistory_date {
		font-size: 12px;
		background: #4c5861;
		color: #fff;
	}
	html[dir="ltr"] #elMemberHistory .cMemberHistory_date {
		padding: 3px 15px 3px 7px;
	}
	html[dir="rtl"] #elMemberHistory .cMemberHistory_date {
		padding: 3px 7px 3px 15px;
	}

.cMemberHistory_info {
	position: relative;
	margin-left: 45px;
	padding-top: 3px;
}
html[dir="ltr"] .cMemberHistory_info {
	margin-left: 45px;
}
html[dir="rtl"] .cMemberHistory_info {
	margin-right: 45px;
}

	.cMemberHistory_info:before {
		width: 15px;
		height: 15px;
		border-radius: 15px;
		content: '';
		display: block;
		background: #2E3D49;
		position: absolute;
		top: 5px;
	}
	html[dir="ltr"] .cMemberHistory_info:before {
		left: -31px;
	}
	html[dir="rtl"] .cMemberHistory_info:before {
		right: -31px;
	}

		#elMemberHistory .cMemberHistory_info:before {
			background: #4c5861;
		}

#memberHistoryFilters {
	display: block;
	height: 100%;
}

[data-role="historyDisplay"] {
	min-height: 400px;
}

/* WRAPPER */
@media screen and (min-width: 768px) {
	.acpMemberView_layoutMain .ipsColumn_veryWide > .ipsPad {
		padding-right: 0;
	}
	.acpMemberView_layoutMain .ipsColumn_fluid > .ipsPad {
		padding-left: 0;
	}
}

@media screen and (max-width: 1490px) {
	.acpMemberView_stats > .ipsGrid > .ipsGrid,
	.acpMemberView_quotas > .ipsGrid_span6 {
		display: block;
		float: none !important;
		width: 100% !important;
		margin: 0 !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1550px) {
	.acpMemberView_stats > .ipsGrid > .ipsGrid_span6 {
		width: 100%;
		float: none;
	}

	html[dir="ltr"] .acpMemberView_stats > .ipsGrid > .ipsGrid_span3 {
		width: 48.93617021276595%;
		margin-left: 0;
	}

	html[dir="ltr"] .acpMemberView_stats > .ipsGrid > .ipsGrid_span3 + .ipsGrid_span3 {
		margin-left: 2.127659574468085%;
	}

	html[dir="rtl"] .acpMemberView_stats > .ipsGrid > .ipsGrid_span3 {
		width: 48.93617021276595%;
		margin-right: 0;
	}

	html[dir="rtl"] .acpMemberView_stats > .ipsGrid > .ipsGrid_span3 + .ipsGrid_span3 {
		margin-right: 2.127659574468085%;
	}

	.acpMemberView_layoutWrap {
		grid-template-columns: [main] auto [history] 300px [end];
	}

	.acpMemberView_layoutMain .ipsColumn_veryWide {
		width: 300px;
	}
}

@media screen and (max-width: 1250px) {
	.acpMemberView_layoutWrap {
		display: block;
	}

	.acpMemberView_layoutHistory {
		padding: 10px;
	}
}

/* PHONES */
@media screen and (max-width: 767px) {
	.acpMemberView_layoutMain .ipsSpacer_bottom.ipsSpacer_double {
		margin-bottom: 15px;
	}

	.acpMemberView_tabBar ul[role="tablist"] > li {
		display: block;
	}
}