/* PHONES */
@media screen and (max-width: 767px) {

	.cAcpSearch {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.cAcpSearch_areas,
	.cAcpSearch_results {
		position: static;
		flex-grow: 1;
	}

	#acpLiveSearchResults [data-resultsSection] {
		overflow: visible;
	}

	#acpLiveSearchResults [data-role="searchResults"] {
		overflow: auto;
	}

	.cAcpSearch_areas {
		width: auto;
		overflow: visible;
	}
	.cAcpSearch_results {
		width: auto;
	}
}