body#elLogin {
background: rgb(67,134,196);
background: -moz-linear-gradient(-45deg,  rgba(67,134,196,1) 0%, rgba(64,95,124,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(67,134,196,1) 0%,rgba(64,95,124,1) 100%);
background: linear-gradient(135deg,  rgba(67,134,196,1) 0%,rgba(64,95,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4386c4', endColorstr='#405f7c',GradientType=1 );

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding-top: 0;
	margin: 0 auto;
}

#elLogin_box {
	width: 450px;
}

.cAcpLoginBox {
	padding-left: 0;
	padding-right: 0;
	background: #fff;
}
html[dir="ltr"] .cAcpLoginBox {
	border-radius: 4px 0 0 4px;
}
html[dir="rtl"] .cAcpLoginBox {
	border-radius: 0 4px 4px 0;
}


	.cAcpLoginBox .ipsForm {
		margin: 0;
	}
	.cAcpLoginBox .ipsForm .ipsFieldRow:not( :last-child ) {
		margin-bottom: 15px;
	}

	.cAcpLoginBox .ipsTabs_panel {
		background: transparent;
	}

.cAcpLoginBox_logo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.cAcpLoginBox_logo img{
	width: 60%;
	margin: 0 auto;
	display: block;
}
.cAcpLoginBox_button {
	margin-bottom: 5px;
}


/* To make 2FA show as part of the form rather than a modal */
#elTwoFactorAuthentication.ipsModal {
	background: #f9f9f9;
	position: inherit;
}
#elTwoFactorAuthentication {
	position: inherit;
}
#elTwoFactorAuthentication > div {
	background: #f9f9f9;
	box-shadow: none;
	border-radius: none;
}